*{
    margin: 0;
    padding: 0;
}

nav{
    background-color:  rgba(0,0,255,1);
    padding: 20px;
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

h4{
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    font-weight: 100;
}


.Audi{
    display: none!important;
}

.Mercedes{
    display: none!important;
}

.VW{
    display: none!important;
}

.cat2{
    display: none!important;
}

.class{
    display: block!important;
}